:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Define color variables for light and dark themes */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #fff;
  --text-color: #333;
}

.dark-theme {
  --background-color: #212529;
  --text-color: #fff;
}